.container {
  background-color: cadetblue;
  align-items: center;
  justify-content: right;
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-around;
  color: aquamarine;
}
.header a {
  color: blue;
}
